
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

body {
    padding-top:50px;
   border:0;
   margin:0;
}

#mapview {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.map-title {
    text-align:center;
}

img {
    height: 75px;
    width: 75px;
}

.pagetitle {
    font-family: 'Prompt', sans-serif;
    letter-spacing:4px;
}
/*************statistics**********************/

.top-lvl-stats {
    text-align: center;
    border: 1.5px solid #000000;
    border: 1.5px solid white;
    font-family: 'Prompt', sans-serif;
    font-size: 35px;
    color: #4B44FF;
    background-color: #222222;
    padding: 20px;
}

.vax-stats {
    text-align: center;
    border: 1.5px solid #000000;
    font-family: 'Prompt', sans-serif;
    font-size: 35px;
    color: #4B44FF;
    background-color: #222222;
    padding: 20px;
}

.label {
    color: grey;
    font-size: 17.5px;
}


/*************cases by county**********************/
.cases-by-county {
    background-color: #222222;
    border: 1.5px solid #000000;
    color: white;
    font-family: 'Prompt', sans-serif;
    /*height: 375px;*/
    height:500px;
    overflow-y: scroll;
}


.cases-by-county ul {
    list-style-type: none; /* Remove bullets */ /*depreciated*/
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

caption {
    caption-side: top;  
    text-align:center;
}
.table-cell-align-right{
    text-align:right;
    padding-right:5px;
}
/*************chart container**********************/
.vaccination-chart-container {
    width: 100px;
    height: 500px
}



/*************FOOTER**********************/
footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    padding: 20px;
    text-align: center;
}

.social-links {
    padding-bottom: 15px;
    font-size: 40px;
}

    .social-links li a i {
        width: 32px;
        height: 32px;
        padding: 12px 0;
        border-radius: 50%;
        font-size: 13px;
        line-height: 7px;
        text-align: center;
        color: #fafafa;
        background: #8f8f8f;
        transition: all .5s ease-in-out; /*note transitions are in parent element. Tranisition will take effect when mouse hovers and stops when mouse leaves*/
        -moz-transition: all .5s ease-in-out; /*work around for browsers mozilla*/
        -webkit-transition: all .5s ease-in-out; /*work around for browsers safari apple*/
        -o-transition: all .5s ease-in-out; /*work around for browsers opera*/
    }

        .social-links li a i:hover { /*note no whitespace on pseudo element */
            background-color: #185F42;
        }
   
/*******Signup Form***********/
signup {
    display: block;
    padding-top: 50px;
    font-family: 'Prompt', sans-serif;
    background: url(../gif/Covid19_bgr.png) no-repeat center center fixed;
    background-size: cover;
}


.signup-text {
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    width: 400px;
    padding: 30px;
}

.signup-form {
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    width: 400px;
    padding: 30px;
}

    .signup-form h2 {
        margin-bottom: 20px;
        color: #fafafa;
    }

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

    .text-input:hover {
        border-color: #f16c6b;
    }


/*******Data Sources Page***********/

data-sources h2 {

    font-family: 'Prompt', sans-serif;
}
h2 {
    padding-top: 10px;
}
.list-header {
    font-weight:600;    
}
/*******Media Queries***********/

@media only screen and (max-width: 360px) {
    .top-lvl-stats {
        font-size: 25px;
    }

    .vax-stats {
        font-size: 25px;
    }
}

/*small screen*/
 @media only screen and (max-width: 576px) {
    signup {
        text-align: center;
        font-size: 10px;
        background: url(../gif/Covid19_425x476.png);
    }

    .signup-form {
        width: 300px;
        padding: 5px;
        margin: 0 auto;
    }

    .signup-text {
        width: 300px;
        padding: 5px;
        margin: 0 auto;
    }
    h2 {
        font-size: 15px;
    }
 }

@media only screen and (max-width: 360px) {

    .signup-text {
        overflow-wrap: break-word;
        word-wrap: break-word;
        font-size: 10px;
    }
}






